html{
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
}
div{
    background-color: rgba(0, 0, 0, 0.322);
    width: 300px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
}

#login{
    color: aliceblue;
    padding-left: 120px;
    position: relative;
    font-size: 30px;
  
}
.a {
 width: 100%;
    margin-top: 20px;
    
}   
.b{
    width: 100%;
    background: transparent;
    outline: transparent;
    box-shadow: 0px 1px 0px 0px black;
    outline: none;
    border-color: transparent;
    
    
    
}

.login-box form a{
    position: relative;
    display:inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform:uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box form a:hover{
    background-color: #03e9f4;
    color: red;
    border-radius: 5px;
    box-shadow: 0 0 5px  #03e9f4,
                0 0 25px  #03e9f4,
                0 0 50px  #03e9f4,
                0 0 100px  #03e9f4;
}
.login-box form a:active{
    transition: .1s;
    background-color: #03e9f4;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px  red,
                0 0 25px  red,
                0 0 50px  red,
                0 0 100px  red;